*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;   
}
#main{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #209CEE    ;
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background: #fff;
}
#ptop{
    width: 100%;
    display: flex;
    color: #fff;
    padding: 0 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #126eab ;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
  font-weight: 500;
  font-size: 22px;
}
.box{
    color: rgb(18, 85, 119);
padding: 10px 20px;
font-weight: 600;
font-size: 22px;
border-radius: 5px;
background: #fff;
}
#demo{
    z-index: 3;
    position: fixed;
    height: 100vh;
    background-color: #209CEE;
    width: 100%;
    
    button{
        position: absolute;
        top: 35%;
        left: 43.5%;
        /* background-color: #126eab; */
        color: #126eab;
        /* color: #209CEE; */
        border-radius: 50%;
        width: 250px;
        text-align: center;
        font-size: 6vw;
        padding-left: 1vw;
        height: 250px;
        border: 12px solid #126eab;
    }
}
#demo h1{
    margin-top: 3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    /* border: 2px solid #126eab; */
    font-weight: 800;
    font-size: 6vw;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    padding: 22.5px;
    height: calc(100% - 100px);
}
#pbtm h1{
    font-size: 60px;
    color: #126eab;
    text-align: center;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content:  center;
    width: 55px;
    height: 55px;
    /* background: rgb(72, 104, 72); */
    background: #126eab;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    background: #044e7f;
    cursor: pointer;
}

@media (max-width: 500px) {

   #demo button{
    left: 25.5%;
    width: 170px;
    padding-left: 1.8vw;
    font-size: 14vw;
    height: 170px;
   }
   #demo h1{
    margin-top: 17vw;
    /* border: 2px solid #126eab; */
    font-weight: 800;
    font-size: 13vw;
}
    #main{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background:  #209CEE    ;
    }
    #panel{
        overflow: hidden;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background: #fff;
    }
    #ptop{
        width: 100%;
        display: flex;
        color: #fff;
        padding: 0 30%;
        justify-content: center;
        align-items: center;
        height: 100px;
        background: #126eab ;
    }
    .elem{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .elem h2{
      font-weight: 500;
      font-size: 19px;
}
.box{
    color: rgb(18, 85, 119);
padding: 6px 15px;
font-weight: 600;
margin-right: 8px;
font-size: 19px;
border-radius: 5px;
background: #fff;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    height: calc(100% - 100px);
}
#pbtm h1{
    font-size: 33px;
    color: #126eab;
}
.bubble{
    width: 50px;
    height: 50px;
}
}
@media (max-width: 388px){
    #ptop{
        padding: 0 30%;
    }
    .elem{
        gap: 6px;
    }
    .elem h2{
    font-size: 17px;
    }
    .box{
        font-size: 17px;
        padding: 5px 13px;
    }
    .bubble{
        width: 42px;
        height: 42px;
    }
    #pbtm{
        padding: 7px;
    }
    #pbtm h1{
        font-size: 40px;
        color: #126eab;
    }
} 
@media (max-width: 320px){
    #ptop{
        padding: 0 30%;
    }
    .elem{
        gap: 6px;
    }
    .elem h2{
    font-size: 15px;
    }
    .box{
        font-size: 15px;
        padding: 3px 11px;
    }
    .bubble{
        width: 36px;
        height: 36px;
    }
    
}